  <mat-toolbar>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a matTooltip="BaaS" style="cursor: pointer" routerLink="/announcements">
        <span><img src="../../../assets/images/baasIcon.png" alt='BaaS'></span>
      </a>
    </div>
    <div fxFlex fxLayout fxHide.xs fxLayoutGap="20px">
      <button mat-button  *ngFor="let item of navItems" matTooltip={{item.title}} [routerLink]="[item.link]"
        routerLinkActive="active">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.title }}
      </button>
    </div>
  
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <button mat-button routerLink="/logout">
        <mat-icon>exit_to_app</mat-icon>
        Log out
      </button>
    </div>
  </mat-toolbar>
