<div class="flex-container">
  <h2>Create New Request</h2>
  <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum molestie turpis eu elit mattis aliquam. Cras sit amet porttitor magna, vel iaculis elit. Sed augue quam, cursus eu sem eu, dapibus malesuada orci. Ut bibendum quam id molestie lobortis. Curabitur ullamcorper ipsum id cursus tristique. Suspendisse quam lacus, efficitur vitae molestie eu, feugiat nec massa. Etiam non tellus tortor. Duis sit amet condimentum arcu, blandit pulvinar ipsum. In aliquam vulputate vestibulum. Nulla ac odio hendrerit velit tincidunt pretium. Nunc sed auctor sem. Aenean in nisl non mi viverra mattis. Nullam molestie venenatis magna quis sagittis.
  </div>
</div>