<div fxLayout="row" style="padding: 1% 15%;"></div>
<fieldset style="margin-left: 15%; margin-right: 35%;">
  <legend>Files:</legend>
  <div
    class="flex-container-row"
    style="padding-left: 0px; padding-right: 0px;"
  >
    <div
      [fileUploadInputFor]="fileUploadQueue"
      class="upload-drop-zone"
      style="margin-bottom: 5px;"
    >
      Drag and drop files here
    </div>
    <div style="padding-left: 3em; padding-top: 5em;">
      <span>
        <input
          id="singleFile"
          type="file"
          multiple="multiple"
          [fileUploadInputFor]="fileUploadQueue"
        />
      </span>
    </div>
    <div>
      <mat-card fxFlex="1 1 calc(10% - 10px)">
        <mat-card-title>Please choose a classification</mat-card-title>
        <mat-form-field>
          <mat-select required>
            <mat-option
              *ngFor="let classification of classifications"
              [value]="classification.value"
            >
              {{ classification.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
  </div>
</fieldset>

<mat-file-upload-queue
  #fileUploadQueue
  [fileAlias]="'file'"
  [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'"
  [httpRequestHeaders]="httpRequestHeaders"
  [httpRequestParams]="httpRequestParams"
  multiple
>
  <mat-file-upload
    [file]="file"
    [id]="i"
    *ngFor="let file of fileUploadQueue.files; let i = index"
  ></mat-file-upload>
</mat-file-upload-queue>
