<div class="flex-container">
  <h2>Resources</h2>
  <div>
    Donec molestie eu turpis at vulputate. Quisque quis mauris blandit odio
    porta luctus. Etiam ut lorem sed nisl pretium volutpat. Morbi pellentesque
    odio at eros convallis, a lacinia elit convallis. Donec nec eleifend neque.
    Proin quis tortor fermentum, sagittis risus vel, semper felis. Integer
    lobortis nunc nisi, sed finibus nibh pretium in. Nullam at nunc tempor,
    tempus nulla id, posuere odio. Proin et maximus est, at iaculis massa.
    Curabitur posuere congue metus non placerat. Sed id sapien sed ligula porta
    placerat sed non ante. Suspendisse fringilla accumsan pharetra.
  </div>
</div>
