mat-tree-node {
  cursor: pointer;
}

mat-tree-node:hover {
  background-color: lightgoldenrodyellow;
}

mat-icon {
  transform: scale(1.5);
}
mat-slide-toggle {
  margin-right: 2rem;
}
.spacer {
  flex: 1 1 auto;
}
