<button
  *ngIf="isAddOrgOn"
  matTooltip="Add organization"
  mat-raised-button
  color="primary"
  (click)="askGroupNameAndAddRoot(solicitGroupName)"
>
  Add New Organization
</button>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodeToggle
    matTreeNodePadding
  >
    <button mat-icon-button disabled></button>
    <div (click)="selectNode(node)">{{ node.item }}</div>
    <button
      *ngIf="addActionOn"
      mat-icon-button
      (click)="askGroupNameAndAddToNode(solicitGroupName, node)"
    >
      <mat-icon>add</mat-icon>
    </button>
    <!-- EditGroupName -->
    <button 
      mat-icon-button
      (click)="askGroupNameAndRenameNode(solicitNewGroupName, node)"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <mat-slide-toggle
      *ngIf="addActionOn"
      [checked]="node.disabled"
      (change)="toggleDisable($event, node)"
    >
      {{ node.disabled ? 'Disabled' : 'Disable' }}
    </mat-slide-toggle>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.filename"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    <div (click)="selectNode(node)">{{ node.item }}</div>
    <button
      *ngIf="addActionOn"
      mat-icon-button
      (click)="askGroupNameAndAddToNode(solicitGroupName, node)"
    >    
      <mat-icon>add</mat-icon>
    </button>

    <!-- EditGroupName -->
    <button 
      mat-icon-button
      (click)="askGroupNameAndRenameNode(solicitNewGroupName, node)"
    >
      <mat-icon matTooltip="Edit"style="font-size: 15px">edit</mat-icon>
    </button>

    <mat-slide-toggle
      *ngIf="addActionOn"
      [checked]="node.disabled"
      (change)="toggleDisable($event, node)"
    >
      {{ node.disabled ? 'Disabled' : 'Disable' }}
    </mat-slide-toggle>
  </mat-tree-node>
</mat-tree>
<!-- tempalte for soliciting group name -->
<ng-template #solicitGroupName>
  <h2 matDialogTitle>
    Please enter {{ isDialogOrg ? 'organization' : 'group' }} name
  </h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label
        >Name of your {{ isDialogOrg ? 'organization' : 'group' }}</mat-label
      >
      <input matInput [(ngModel)]="dialogValue" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [matDialogClose]>
      Cancel
    </button>
    <button mat-button [matDialogClose]="dialogValue" color="primary">
      Save
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- tempalte for soliciting new group name -->
<ng-template #solicitNewGroupName>
  <h2 matDialogTitle>
    Please edit your {{ isDialogOrg ? 'organization' : 'group' }} name
  </h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label
        >Rename your {{ isDialogOrg ? 'organization' : 'group' }}</mat-label
      >
      <input matInput onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null" [(ngModel)]="dialogValue" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [matDialogClose]>
      Cancel
    </button>
    <button mat-button [matDialogClose]="dialogValue" color="primary">
      Save
    </button>
  </mat-dialog-actions>
</ng-template>
<div
  *ngIf="showSpinner"
  style="position:absolute; top:50%; left:50%; z-index: 1000;"
>
  <mat-spinner
    matTooltip="Processing..."
    style="text-align: center"
    diameter="40"
  ></mat-spinner>
</div>
