<div fxLayout="column" fxLayoutAlign="stretch" role="banner">
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    role="banner"
  >
    <div fxLayout="column" role="banner">
      <img
        src="./../assets/baas-logo.png"
        alt="BaaS Logo"
        style="width: 100%;   height: auto;"
      />
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="10px"
      class="grey-box"
      role="form"
    >
      <h2>Please enter a password</h2>
      <form>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="5px"
          role="form"
        >
          <mat-icon
            aria-label="Enter your password"
            matTooltip="Enter your password"
            >vpn_key</mat-icon
          >
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="Password"
              [type]="hide ? 'password' : 'text'"
              required
              autocomplete="off"
              aria-label="Enter Password"
              [formControl]="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="password.errors?.required"
              >You must enter a password</mat-error
            >
            <mat-error *ngIf="password.errors?.minlength"
              >Password does not have minimal length</mat-error
            >
            <mat-error
              *ngIf="
                password.errors?.validateHasAlphaLower ||
                password.errors?.validateHasAlphaUpper ||
                password.errors?.validateHasNumeric ||
                password.errors?.validateHasSpecialChar
              "
            >
              <p>
                Password must contain characters from the following character
                classes:
              </p>
              [uppercase, lowercase, digit, special char]
            </mat-error>
            <mat-error *ngIf="password.errors?.validateNo3Duplicate">
              Password cannot contain more than 3 consecutive letters from the
              same character class.
            </mat-error>
            <mat-error *ngIf="password.errors?.validateNoUserID">
              Password cannot contain user ID
            </mat-error>
            <mat-error *ngIf="password.errors?.compare"
              >Mismatched password</mat-error
            >
          </mat-form-field>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="5px"
          role="form"
        >
          <mat-icon
            aria-label="Re-enter your password"
            matTooltip="Re-enter your password"
            >vpn_key</mat-icon
          >
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="Confirm Password"
              [type]="hide ? 'password' : 'text'"
              required
              autocomplete="off"
              aria-label="Enter Password"
              [formControl]="password2"
            />
            <mat-error *ngIf="password2.errors?.required"
              >You must enter a password</mat-error
            >
            <mat-error *ngIf="password2.errors?.compare"
              >Mismatched password</mat-error
            >
          </mat-form-field>
        </div>
      </form>
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="5px"
        role="form"
      >
        <div [ngStyle]="{ height: '20px' }"></div>
      </div>
      <button
        mat-raised-button
        color="primary"
        style="width:220px"
        (click)="submit()"
        matTooltip="Submit"
        [disabled]="!password.value || password.invalid || password2.invalid"
      >
        Submit
      </button>
      <br />
      <div *ngIf="errMessage != null; else blank" role="alert">
        <mat-chip-list>
          <mat-chip color="warn" selected="true" disabled>
            <mat-icon>error_outline</mat-icon>
            &nbsp;
            <strong>{{ errMessage }}</strong>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <ng-template #blank></ng-template>
  <app-footer></app-footer>
</div>
