<div class="flex-container">
  <h2>Admin</h2>
  <div>
    <mat-tab-group>
      <mat-tab label="Users">
        <h3>User Management</h3>
        <p>Integer molestie felis viverra sapien facilisis blandit. Pellentesque a libero erat. Etiam ut feugiat elit, ut tincidunt nisi. Mauris tempus diam quis lectus cursus gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent tristique iaculis nisi ut elementum. Aliquam molestie ligula sit amet mauris tincidunt malesuada.</p>
      </mat-tab>
      <mat-tab label="Org/Groups">
        <h3>Org/Groups Management</h3>
        <p>Proin faucibus neque elementum semper dictum. Cras vitae justo et nisi fermentum maximus volutpat et lacus. Praesent auctor ante eget ultricies volutpat.</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
  
