<div class="flex-container">
  <div>
    <mat-tab-group (selectedTabChange)="tabClick($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon-margin">supervisor_account</mat-icon>
          Users
        </ng-template>
        <app-user-management></app-user-management>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon-margin">account_tree</mat-icon>
          Org/Groups
        </ng-template>
        <app-group-management [addActionOn]="true"></app-group-management>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
