<div fxLayout="column" fxLayoutAlign="stretch" role="banner">
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    role="banner"
  >
    <div fxLayout="column" role="banner">
      <img
        src="./../assets/baas-logo.png"
        alt="BaaS Logo"
        style="width: 100%;   height: auto;"
      />
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="10px"
      class="login-box"
      role="form"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="5px"
        role="form"
      >
        <mat-icon aria-label="Enter your email" matTooltip="Enter your email"
          >email</mat-icon
        >
        <mat-form-field class="login-mat-form-field">
          <input
            matInput
            placeholder="Email"
            [formControl]="email"
            required
            aria-label="Enter Email"
            (keyup.enter)="clickLogin()"
          />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="5px"
        role="form"
      >
        <mat-icon
          aria-label="Enter your password"
          matTooltip="Enter your password"
          >vpn_key</mat-icon
        >
        <mat-form-field class="login-mat-form-field">
          <input
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            aria-label="Enter Password"
            [formControl]="passWord"
            (keyup.enter)="clickLogin()"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="clickLogin()"
        style="width: 100%;"
        matTooltip="Login"
      >
        Login
      </button>
      <br />
      <div *ngIf="errorMessage != null; else blank" role="alert">
        <mat-chip-list>
          <mat-chip color="warn" selected="true" disabled>
            <mat-icon>error_outline</mat-icon>
            &nbsp;
            <strong>{{ errorMessage }}</strong>
          </mat-chip>
        </mat-chip-list>
      </div>
      <a
        [routerLink]="['/forgotpassword']"
        style="font-size:x-small"
        matTooltip="Forgot Password"
        >FORGOT PASSWORD</a
      >
    </div>
  </div>
  <ng-template #blank></ng-template>
  <app-footer></app-footer>
</div>
