<div class="flex-container">
  <form
    [formGroup]="changePasswordFormGroup"
    fxLayout="column"
    (ngSubmit)="onSubmit()"
  >
    <div style="width: 50%;">
      <div style="padding-left: 1ch; padding-top: 3ch;">
        <mat-icon class="icon-2x">account_circle</mat-icon>
        <span style="padding-left:20px;">
          {{ LoggedUser }}
        </span>
      </div>
      <br />
      <h2>Change Password</h2>
      <div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="currentPwd"
              placeholder="Current Password"
              required
              autocomplete="off"
              aria-label="Enter Current Password"
              [type]="currentPwdVisibleOff ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (mousedown)="currentPwdVisibleOff = false"
              (mouseup)="currentPwdVisibleOff = true"
              type="button"
            >
              <mat-icon>{{
                currentPwdVisibleOff ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                changePasswordFormGroup.controls.currentPwd.errors?.required
              "
            >
              You must enter current password
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="newPwd"
              placeholder="New Password"
              required
              autocomplete="off"
              aria-label="Enter New Password"
              [type]="newPwdVisibleOff ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (mousedown)="newPwdVisibleOff = false"
              (mouseup)="newPwdVisibleOff = true"
              type="button"
            >
              <mat-icon>{{
                newPwdVisibleOff ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="changePasswordFormGroup.controls.newPwd.errors?.required"
            >
              You must enter new password
            </mat-error>
            <mat-error
              *ngIf="
                changePasswordFormGroup.controls.newPwd.errors
                  ?.validateHasAlphaLower ||
                changePasswordFormGroup.controls.newPwd.errors
                  ?.validateHasAlphaUpper ||
                changePasswordFormGroup.controls.newPwd.errors
                  ?.validateHasNumeric ||
                changePasswordFormGroup.controls.newPwd.errors
                  ?.validateHasSpecialChar
              "
            >
              <p>
                Password must contain characters from the following character
                classes: [uppercase, lowercase, digit, special char]
              </p>
            </mat-error>
            <mat-error
              *ngIf="
                changePasswordFormGroup.controls.newPwd.errors
                  ?.validateNo3Duplicate
              "
            >
              Password cannot contain more than 3 consecutive characters from
              the same character class.
            </mat-error>
            <mat-error
              *ngIf="
                changePasswordFormGroup.controls.newPwd.errors?.forbiddenUserId
              "
            >
              Password cannot contain user ID
            </mat-error>
            <mat-error
              *ngIf="
                changePasswordFormGroup.controls.newPwd.errors
                  ?.validateCurrentIsNotNewPassword
              "
            >
              New password cannot be identical to current password
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="confirmPwd"
              placeholder="Confirm Password"
              required
              autocomplete="off"
              aria-label="Enter the New Password"
              [type]="confirmPwdVisibleOff ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (mousedown)="confirmPwdVisibleOff = false"
              (mouseup)="confirmPwdVisibleOff = true"
              type="button"
            >
              <mat-icon>{{
                confirmPwdVisibleOff ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                changePasswordFormGroup.controls.confirmPwd.errors?.required
              "
            >
              You must enter confirm password
            </mat-error>
            <mat-error
              *ngIf="
                !changePasswordFormGroup.controls.confirmPwd.errors?.required &&
                changePasswordFormGroup.controls.confirmPwd.errors
                  ?.validateCheckConfirmPassword
              "
            >
              Passwords must match
            </mat-error>
          </mat-form-field>
        </div>
        <br />
        <div fxLayoutAlign="end start" fxLayoutGap="3ch">
          <button mat-raised-button matTooltip="Clear" type="reset">
            Clear
          </button>
          <button
            mat-raised-button
            color="primary"
            matTooltip="Submit"
            type="submit"
            [disabled]="changePasswordFormGroup.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
