<div class="flex-container">
  <form
    #changePasswordForm="ngForm"
    [formGroup]="changePasswordFormGroup"
    fxLayout="column"
    (ngSubmit)="onSubmit(changePasswordForm)"
  >
    <div style="width: 50%;">
      <div style="padding-left: 1ch; padding-top: 3ch;">
        <mat-icon class="icon-2x">account_circle</mat-icon>
        <span style="padding-left:20px;">
          {{ LoggedUser }}
        </span>
      </div>
      <br />
      <h2>Change Password</h2>
      <div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="currentPwd"
              placeholder="Current Password"
              required
              autocomplete="off"
              aria-label="Enter Current Password"
              [type]="currentPwdVisibleOff ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (pointerdown)="currentPwdVisibleOff = false"
              (pointerup)="currentPwdVisibleOff = true"
              (pointerleave)="currentPwdVisibleOff = true"
              type="button"
            >
              <mat-icon>{{
                currentPwdVisibleOff ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error>You must enter current password</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="newPwd"
              placeholder="New Password"
              required
              autocomplete="off"
              aria-label="Enter New Password"
              [type]="newPwdVisibleOff ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (pointerdown)="newPwdVisibleOff = false"
              (pointerup)="newPwdVisibleOff = true"
              (pointerleave)="newPwdVisibleOff = true"
              type="button"
            >
              <mat-icon>{{
                newPwdVisibleOff ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error>You must enter new password</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="confirmPwd"
              placeholder="Confirm Password"
              required
              autocomplete="off"
              aria-label="Enter the New Password"
              [type]="confirmPwdVisibleOff ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (pointerdown)="confirmPwdVisibleOff = false"
              (pointerup)="confirmPwdVisibleOff = true"
              (pointerleave)="confirmPwdVisibleOff = true"
              type="button"
            >
              <mat-icon>{{
                confirmPwdVisibleOff ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error>You must enter confirm password</mat-error>
          </mat-form-field>
        </div>
        <br />
        <div fxLayoutAlign="end start" fxLayoutGap="3ch">
          <button mat-raised-button matTooltip="Clear" type="reset">
            Clear
          </button>
          <button
            mat-raised-button
            color="primary"
            matTooltip="Submit"
            type="submit"
            [disabled]="changePasswordFormGroup.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
