.changepassword-box {
  background-color: #eceff1;
  padding: 15px 60px 60px 60px;
  min-width: 520px;
}

.icon-2x {
  transform: scale(2);
  vertical-align: middle;
}

// TODO Technical Dedt -- Clean the styles.scss
// Not a good practice of keeping the following styles in styles.scss,
// unless you want the same styles for the same control
// through out the application

/* Reason for setting the padding-bottom to 0px and padding-inline-end to 0em, 
   is to oveeride this with the one from the styles.scss.
   Once we clean the styles.scss, we can remove the padding-bottom and 
   padding-inline-end
*/
mat-form-field {
  width: 100%;
  &.ng-valid {
    .mat-form-field-wrapper {
      padding-bottom: 0px;
      padding-inline-end: 0em;
    }
  }

  &.ng-invalid,
  &.mat-form-field-invalid {
    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }

  &.ng-untouched {
    .mat-form-field-wrapper {
      padding-bottom: 0em;
    }
  }

  .mat-form-field {
    &-underline {
      position: static;
    }

    &-subscript-wrapper {
      position: static;
    }
  }
}
