<footer>
  <div class="footer" role="contentinfo">
    <div
      class="footer-content"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
    >
      <i>
        This is a United States Government information system and is intended
        for authorized users only.<br />
        All access and use of this systems is subject to monitoring.
        Unauthorized user may result in prosecution.</i
      >
    </div>
  </div>
</footer>
