.footer {
  position:absolute;
  bottom:0;
  width:100%;
  background-color: #485384;
  opacity: 0.8;
}

.footer-content {
  height: 100pt;
  color: white;
  padding-left: 20pt;
}

.spacer {
  flex-grow: 1;
}
