<mat-toolbar color="primary">
  <div>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div fxFlex fxLayout>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <a routerLink="/home">BaaS</a>
        </li>
        <li>
          <a routerLink="/requests">Requests</a>
          </li>
          <li>
              <a routerLink="/usermanagement">User Management</a>
          </li>
      </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <a routerLink="/logout">Log Out</a>
        </li>
    </ul>
</div>
</mat-toolbar>
