
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <!--this is a place for us to add side-nav code-->
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <div class="footer" style="padding: 3px;">
      <mat-grid-list cols="3" rowHeight="4em">
        <mat-grid-tile [colspan]="1">
          <div style="text-align:left;">
            <img src="./../assets/NCTC.png">
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <div style="text-align:center; font-weight: bold; font-size: 20px;">
            (National Counterterrorism Center -- This Footer Goes Away)
          </div>
        </mat-grid-tile>
    
        <mat-grid-tile [colspan]="1">
            <div style="text-align:right;">
              <img src="./../assets/NCTC.png">
            </div>
         </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
