
<div class="content" role="main" style="text-align: center">
  <div>
    <br>
    <span>{{ title }} app is running!</span>
  </div>
  <div>
    Angular Material Slider Control:  
    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>    
  </div>
  <br>
  <br>
  <div>
    Material Icons Samples:
    <br>
    <i class="material-icons">videocam</i>
    <br>
    <button mat-button color="primary">No Icon in Button</button>
    <br>
    <br>
    <button mat-raised-button>
      Submit
      <i class="material-icons">send</i>
    </button>
  </div>
</div>
<router-outlet></router-outlet>