<div class="flex-container">
  <h2>Announcements</h2>
  <div>
    Aliquam ac rhoncus arcu, id molestie leo. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Maecenas in
    lorem eu quam consequat vulputate. Ut et eros a nulla eleifend posuere.
    Pellentesque tempor ligula neque, sed condimentum turpis tincidunt sed.
    Phasellus condimentum bibendum ipsum eu bibendum. Vestibulum consequat
    viverra nulla, tristique faucibus neque finibus non. Donec dictum orci sit
    amet turpis auctor sollicitudin. Etiam at luctus nunc. Curabitur consequat
    massa in purus cursus sollicitudin. Pellentesque facilisis tortor eleifend
    pharetra pulvinar. Donec viverra pharetra est non consectetur. Vestibulum
    eget mauris eget magna mattis mattis ultricies eu purus.
  </div>
</div>
