<div fxLayout="column" fxLayoutAlign="stretch" role="banner" class="flex-container">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" role="banner">
    <div>
      <img src="./../assets/images/baas-logo-small.png" alt="BaaS Logo" style="width: 100%;   height: auto;" />
    </div>
    <h2>Terms of Service </h2>
    <div class="scrollable-div" role="contentinfo">
      <p><strong>Website Privacy Policy</strong></p>
      <p>The Office of the Director of National Intelligence website (DNI.GOV or ODNI.GOV ) is provided as a public
        service by the ODNI on behalf of the Director of National Intelligence. This website does not collect personal
        information about you unless you choose to provide such information.</p>
      <h3>Browsing ODNI Websites</h3>
      <p>The content of this website may be browsed anonymously. For statistical purposes, this website automatically
        logs
        certain information about your visit,<br />such as:</p>
      <ul>
        <li>The Internet Domain and Internet Protocol (IP) address from which you access our website.</li>
        <li>The type of web browser and operating system of the computer used to access our site.</li>
        <li>The date and time you visit the site.</li>
        <li>The pages you visit on our site.</li>
        <li>If you linked to our websites from another website, the address of that website.</li>
        <li>If you linked to our websites from a search website, the address of the website and the search term you
          used.
        </li>
      </ul>
      <p><br />This information does not identify you personally. The information gathered helps us to assess the
        content
        most interesting to visitors, determine technical design specifications, and identify system performance issues.
      </p>
      <h3>Use of Cookies</h3>
      <p>This website does not use persistent cookies. It does, however, use non-persistent or "session" cookies to make
        it easier for you to use the features on our web pages. Session cookies last only as long as your web browser
        remains open and are deleted from our servers as soon as you leave our website. The ODNI does not collect or
        maintain any information from your session cookies.</p>
      <h3>Your Personal Information</h3>
      <p>Any personal information you provide in the context of an inquiry or request for information will be used only
        to
        respond to your inquiry or request. We will not share your personal information with another government agency
        unless you have expressly requested we do so, or as otherwise required by law. In addition, the ODNI will not
        create individual profiles from your information or provide your information to any private organization for
        commercial purposes.</p>
      <p>If you engage in a specialized business process through another ODNI-sponsored website (e.g., to submit a
        resume;
        to provide online comments, etc.) you will be informed of additional privacy procedures at the point of entry
        for
        that process.</p>
      <h3>Website Security</h3>
      <p>For site security purposes, and to ensure that this service remains available to all users, this government
        computer system monitors network traffic to identify unauthorized attempts to upload or change information, to
        defeat or circumvent a security feature, to interfere with system access or availability, or to cause damage or
        utilize this system for other than its intended purposes.&nbsp;<strong><strong>Anyone using this system
            expressly
            consents to such monitoring and is advised that if such monitoring reveals evidence of possible abuse or
            criminal activity, such evidence may be provided to appropriate law enforcement officials.</strong></strong>
      </p>
      <p>Unauthorized attempts to upload or change information, to defeat or circumvent a security feature, to interfere
        with system access or availability, or to cause damage or utilize this system for other than its intended
        purposes, are strictly prohibited and may be punishable by law, including but not limited to the Computer Fraud
        and Abuse Act (18 U.S.C. 1030) and the National Information Infrastructure Protection Act of 1996.</p>
      <p>Except for authorized law enforcement investigations, no attempts are made to identify individual users or
        their
        usage habits.<br /><br /></p>
      <h3>Links to Other Sites</h3>
      <p>ODNI websites may contain information with links or pointers to information created and maintained by other
        U.S.
        government agencies and, in some instances, to state, local, tribal or private organizations. These links are
        provided as a service to you as a user. The ODNI neither controls nor guarantees the accuracy, relevance,
        timeliness, or completeness of information contained on another website. Once you link to another site, you will
        be notified that you are leaving the official ODNI website and will be subject to the privacy and security
        policies of the website to which you are linking.</p>
      <h3>Privacy Documents</h3>
      <ul>
        <li><a href="https://www.dni.gov/files/documents/FR_Vol75_No181_57163_to_57167.pdf">Federal Register, Vol. 75,
            No.
            181 (9/20/2010), pages 57163-57167</a></li>
        <li><a href="https://www.dni.gov/files/documents/Privacy%20Act%20Regulations.pdf">Privacy Act Regulations</a>
        </li>
        <li><a href="https://www.dni.gov/files/documents/ODNI%20ISE%20Privacy%20Guidelines.pdf">Implementation of ISE
            Privacy Guidelines for Sharing Protected Information</a></li>
      </ul>
      <h3>Systems of Records Notices</h3>
      <ul>
        <li><a href="https://www.dni.gov/files/documents/FR_Vol72_No248_73887_to_73898.pdf">Federal Register, Vol. 72,
            No.
            248 (12/28/2007), pages 73887-73898</a></li>
        <li><a href="https://www.dni.gov/files/documents/FR_Vol72_No248_73899_to_73904.pdf">Federal Register, Vol. 72,
            No.
            248 (12/28/2007), pages 73899-73904</a></li>
        <li><a href="https://www.dni.gov/files/documents/FR_Vol75_No63_16853_to_16868.pdf">Federal Register, Vol. 75,
            No.
            63 (4/2/2010), pages 16853-16868</a></li>
        <li><a href="https://www.dni.gov/files/documents/FR_Vol%2076_No%20138_Notice_20110719.pdf">Federal Register,
            Vol.
            76, No. 138 (7/19/2011), pages 42737-42750</a></li>
      </ul>
      <p><strong><strong>Social Media Privacy Policy</strong></strong></p>
      <p>The president&rsquo;s&nbsp;<a
          href="http://www.whitehouse.gov/sites/default/files/omb/assets/memoranda_2010/m10-06.pdf">Transparency and
          Open
          Government Memorandum of January 21, 2009</a>&nbsp;and the resulting&nbsp;<a
          href="http://www.whitehouse.gov/omb/assets/memoranda_2010/m10-06.pdf">OMB Open Government Directive of
          December
          8, 2009</a>&nbsp;direct Federal departments and agencies to harness new technologies to engage the public,
        focusing on the values of transparency, participation and collaboration.<br /><br />The&nbsp;<a
          href="http://www.whitehouse.gov/sites/default/files/omb/egov/digital-government/digital-government.html">Digital
          Government Strategy</a>, released by the White House on May 23, 2012, requires that federal agencies adopt an
        &ldquo;information driven,&rdquo; customer-centric approach to electronic communications &ndash; one that allows
        the American public to &ldquo;shape, share and consume information, whenever and however they want
        it.&rdquo;<br /><br />More recently, the&nbsp;Privacy Best Practice for Social Media,&nbsp;released by the CIO
        Council in July 2013, noted that social media have an important role to play in the Federal Government&rsquo;s
        communications strategy and explained that the Federal Government can use social media to share information as
        well as to enable Federal agencies to learn about issues being discussed by different audiences.<br /><br />The
        Office of the Director of National Intelligence (ODNI) maintains an active presence on third-party social media
        sites and networks, and uses a growing number of new media tools from third party providers (e.g. Facebook,
        Twitter and Tumblr) to augment or expand the reach of our official communications at&nbsp;<a
          href="http://www.dni.gov/">www.DNI.gov</a>&nbsp;and to increase public understanding of the ODNI and the
        Intelligence Community. Third-party providers &ndash; not the ODNI &ndash; design and operate these social media
        sites and applications. ODNI is only one of many users.<br /><br />The ODNI&rsquo;s policy regarding its use of
        third party websites and social media tools is outlined below.</p>
      <h3>Privacy on Third Party Websites</h3>
      <p>Activity on third-party web sites is governed by the security and privacy policies of the third party sites. By
        using a third-party social media website, you may be providing that third-party with personally identifiable
        information (PII). You are encouraged to review the privacy policy of the third-party provider prior to
        registering or using the site to fully understand how your PII may be collected or used by the third-party
        provider. You are also encouraged to familiarize yourself and adjust the privacy settings on your account on any
        third-party site to match your preferences.</p>
      <h3>Visits to ODNI Official Social Media Sites</h3>
      <p>When you visit ODNI pages hosted by third-party provider websites and applications, your activity is governed
        by
        the security and privacy policies of those third party providers. ODNI will not seek or obtain PII about you or
        your visit from the third-party provider site or application. Nor will ODNI&nbsp;collect, maintain or
        disseminate
        PII from users of third-party social media sites who &ldquo;follow,&rdquo; &ldquo;friend,&rdquo;
        &ldquo;like&rdquo; or take other similar actions with respect to content on official ODNI pages hosted by those
        sites.</p>
      <h3>Information that You Provide to the ODNI</h3>
      <p>You do not need provide ODNI with any personal information or create a user account to access information on
        our
        social media accounts. However some types of interactions (for example platform-specific interactions on social
        media or responses to our requests for your feedback) may necessitate either the creation of a user account or
        the
        voluntary submission of information that would allow us to properly credit you for your feedback and to
        potentially follow up with you regarding your question, comment or request.<br /><br />Any personal information
        you provide in the context of an official inquiry or request for information will be used only to respond to
        your
        inquiry or request. We will not share your personal information with another government agency unless you have
        expressly requested we do so, or as otherwise required by law as described in the Site Security notice
        below.<br /><br />Whenever third party platforms or social media services provide visitors the capability to
        engage anonymously, we retain this option for visitors to our official presences on those sites. However, if
        your
        feedback or communication with us contains your name, we will not redact that information from any posting of
        your
        communication. If your feedback or communication contains Social Security Numbers, home or business addresses,
        email addresses, or phone numbers, ODNI will either not post your communication at all, remove the information
        prior to publication, or remove the information from the communication when detected.</p>
      <h3>How Your Information Is Used</h3>
      <p>You are encouraged to share your feedback, ideas, and concerns with ODNI via our official social media pages or
        applications, hosted by third-party providers. Note that information, you voluntarily submit to or publish on an
        ODNI page on a third-party provider site may be treated as public information.&nbsp;</p>
      <p>We may, for example, publish compilations of messages or feedback collected through our official websites or
        official social media pages and provide them to national leaders, members of the press, or other individuals
        outside of the Federal Government. We may also use this same information for analytic research projects, such
        as<a href="http://www.nicglobaltrends.tumblr.com/">&nbsp;nicglobaltrends.tumblr.com</a>, transparency programs
        like&nbsp;<a href="http://www.icontherecord.tumblr.com/">icontherecord.tumblr.com</a>&nbsp;or in support of
        special initiatives such as the DNI&rsquo;s&nbsp;<a
          href="http://www.dni.gov/index.php/intelligence-community/review-group">Review Group on Intelligence and
          Communication Technologies</a>.<br /><br />ODNI websites and official social media presences comply with the
        records management and disposition policies adopted by the ODNI. Content publicly posted as a result of
        ODNI&rsquo;s use of social media is considered a Federal record and is maintained accordingly. Feedback or
        communications that ODNI receives but does not post to its official websites or social media presences are not
        considered Federal records and are not retained.</p>
      <h3>Moderating Your Feedback</h3>
      <p>If you choose to engage with the ODNI through a third-party provider social media website or application, ODNI
        reserves the right to moderate, remove or reject (not post) feedback that contains:</p>
      <ul>
        <li>Social Security Numbers, home or business addresses, e-mail addresses, phone numbers, or other personally
          identifiable information</li>
        <li>Vulgar or abusive language</li>
        <li>Personal attacks of any kind</li>
        <li>Offensive terms that target specific group</li>
        <li>Spam or feedback that are clearly &ldquo;off topic&rdquo;</li>
        <li>Commercial promotions</li>
        <li>Solicitation of funds</li>
        <li>Political activity</li>
        <li>Reports of criminal or suspicious activity &ndash; if you have information for law enforcement, please
          contact
          your local policy agency</li>
        <li>Unsolicited proposals or other business ideas or inquiries</li>
        <li>Classified or proprietary information, or information protected by other statutory or regulatory regimes
          (e.g., intellectual property; copyrighted materials; licensed materials; privacy protected information; etc.)
        </li>
        <li>Any claims, demands, informal or formal complaints, or any other form of legal and/or administrative notices
          or processes</li>
        <li>Duplicative posts</li>
        <li>Embedded links to external websites or applications.</li>
      </ul>
      <p>The ODNI does not discriminate against any views, but reserves the right to remove or reject (not post)
        feedback
        that does not adhere to these standards.<br /><br />In addition, the views expressed by members of the public in
        postings on official pages maintained by the ODNI on third-party social media websites and applications do not
        reflect the official views of the ODNI or the U.S. government nor does ODNI guarantee the accuracy of
        information
        contained in posted communications.<br /><br />Due to the volume and uncertain content of feedback and queries
        received from the general public through its official sites and social media activities, ODNI cannot guarantee
        an
        individual response to all queries or that every comment received will be published.</p>
      <h3>How Your Information Is Used Our Use of Web Analytic Tools</h3>
      <p>The ODNI uses a third-party analytics provider (currently Google Analytics) to analyze data from cookies. The
        third-party analytics provider does not receive PII through these cookies and is prohibited from combining,
        matching or cross-referencing DNI.gov information with any other information. We have also limited the
        provider&rsquo;s ability to see your full IP address (a process known as &ldquo;IP masking&rdquo;). Please
        review
        Google Analytics&rsquo;&nbsp;<a href="http://www.google.com/intl/en/analytics/privacyoverview.html">privacy
          policy</a>&nbsp;for additional information.<br /><br />ODNI websites use multi-session cookies to
        differentiate
        between new and returning users. These cookies also gather aggregated statistical data and measurements on
        website
        usage that ODNI uses to improve website functionality. These cookies do not collect PII about you and are not
        persistent (i.e., ODNI does not use these cookies to track your use of the Internet. If you do not wish to have
        these cookies placed on your computer, you can adjust your Web browser&rsquo;s settings. Instructions for
        disabling or opting out of cookies in the most popular browsers can be found at&nbsp;<a
          href="http://www.usa.gov/optout_instructions.shtml">usa.gov</a>.<br /><br />We may use data that your site
        visit
        automatically generates for statistical analyses to assess, for example, what information is of interest to
        users,
        what technical design elements users prefer, and how users rate system performance. This allows us to make
        general
        improvements to our sites as well as to offer tailored content to DNI email subscribers (e.g., a follow-up
        message
        to subscribers interested in a specific topic based on information they have provided or automatically generated
        data).<br /><br />In some instances, third party platforms, such as Facebook, Tumblr or Twitter, offer their own
        embedded analytics that provide users with aggregate information that ODNI uses in the same limited manner
        described above. These services generally do not provide, nor do we seek, IP related information. Rather these
        analytic tools commonly available to all users of a given platform allow ODNI to assess engagement with specific
        content and to evaluate engagement trends over time.</p>
      <p>The ODNI will not sell, rent, exchange or otherwise disclose your information to any organization for
        commercial
        purposes.</p>
      <h3>Site Security</h3>
      <p>ODNI takes reasonable precautions to protect ODNI sites and information automatically collected by the ODNI or
        voluntarily submitted to an official ODNI page on a third-party site. Access to official ODNI accounts on
        third-party sites is limited to the individuals who administer those accounts, and all official ODNI accounts
        are
        clearly labeled.<br /><br />Except for authorized law enforcement investigations, no attempts are made to
        identify
        individual users or their usage habits. We may share information with other federal agencies in response to
        lawful
        law enforcement requests or perceived security threats arising on ODNI&rsquo;s official presences on sites
        hosted
        by third-party providers.</p>
      <h3>Copyright</h3>
      <p>ODNI cannot authorize the use of any third party copyrighted materials, including material from third-party
        social media websites and applications, on ODNI websites. Users must obtain all necessary authorizations prior
        to
        posting any material on ODNI websites. Users who provide feedback via a blog, e-mail or messaging system are
        responsible for ensuring that they are authorized to provide all of the text and information conveyed to ODNI
        with
        the feedback. Users are cautioned that if they fail to obtain the appropriate authorizations, they may be liable
        for copyright infringement.<br /><br />ODNI-created material in the public domain, including ODNI&rsquo;s
        official
        presences on social media sites, may be copied, distributed, and reproduced without obtaining ODNI permission.
        When such information is copied, distributed or reproduced, it is appropriate to cite ODNI or the relevant ODNI
        component or office as the source of the information.<br /><br />For ODNI-supplied information that is
        copyrighted, permission to copy, distribute, or reproduce the material must be obtained from the copyright
        owner.
        ODNI is not responsible for the user&rsquo;s misuse of third party copyrighted material.</p>
      <h3>Disclaimer of Endorsement</h3>
      <p>An official ODNI presence on a third-party social media website or application may include information with
        links
        or pointers to information created and maintained by other U.S. government agencies and, in some instances, by
        state, local, tribal, or private entities. These links are provided as a service to you as a user and should not
        be viewed as an endorsement by the ODNI of any content, products, or services. Acceptance of
        &ldquo;likes,&rdquo;
        &ldquo;follows,&rdquo; &ldquo;reblogs or other similar social requests does not indicate ODNI&rsquo;s
        endorsement
        of those individuals or views.</p>
      <h3>Disclaimer of Liability</h3>
      <p>Neither the U.S. Government nor the ODNI endorses, guarantees or controls the feedback or opinions of visitors
        to
        our official pages hosted by third-party providers, and expressly disclaims all liability for any loss, damage,
        or
        other injury resulting from reliance on the accuracy, relevance, timeliness or completeness of such information.
        Further, the ODNI&rsquo;s use of third-party social media sites does not, and is not intended to, constitute an
        endorsement, recommendation, or favoring of the providers of the site, the information or products presented on
        the site, or information, products, or services that may be reached through links to another website.</p>
      <h3>508 Compliance</h3>
      <p>The ODNI cannot guarantee compliance of Section 508 of the Rehabilitation Act (Accessibility Requirements) by
        providers of third-party social media websites or applications.</p>
      <h3>Other Limitations</h3>
      <p>Any communication made by a public user to the ODNI via a third-party blog, e-mail or messaging system will not
        be considered an official notice to the ODNI, or to any official or employee of ODNI, for any purpose.</p>
      <h3>Media Inquiries</h3>
      <p>All media inquiries should be submitted to the ODNI Public Affairs Office through&nbsp;normal channels.</p>
      <h3>Official ODNI Activities on Third Party Websites</h3>
      <p>Below is the current list of official ODNI pages on third party websites that are governed by the preceding
        policy, along with a link to the host website&rsquo;s privacy policy.</p>
    </div>
    <p>&nbsp;</p>
    <div style="width: 100%" role="navigation" fxLayoutAlign="space-around center" >

        <div  fxFlexAlign="start" role="navigation"  >
          <button   mat-raised-button color="warn" matTooltip="Decline" (click)="clickDecline()">
            Decline
          </button>
        </div>
        <div fxFlexAlign="end" role="navigation"   style="text-align: right">
          <button   mat-raised-button color="primary" matTooltip="Accept" (click)="clickAccept()">
            Accept
          </button>
        </div>

    </div>
  </div>
</div>
