<div fxLayout="column" fxLayoutAlign="stretch" role="banner" class="flex-container">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" role="banner">
    <div>
      <img src="./../assets/images/baas-logo-small.png" alt="BaaS Logo" style="width: 100%;   height: auto;" />
    </div>
    <h2>Terms of Service </h2>
    <div class="scrollable-div" role="contentinfo">
      <div class="user-agreement">
        <div>
            UNCLASSIFIED
        </div>
        <div>
            (U) Privacy<br>
            (U) Users of this system should have no reasonable expectation of privacy.   All data and searches thereof may be monitored and reviewed by authorized personnel for audit purposes. Use of this system constitutes express consent to monitoring.  If you do not consent, do not acknowledge this agreement.
            <br>
        </div>
        <div>
            (U) Records Protection<br>
            (U) Authorized users are permitted access to this portal on an official business/need-to-know basis.  Unauthorized use such as submitting photos of persons with whom you have personal interaction , for personal interest, or for any purpose other then as required in your official duties, is strictly prohibited.
            <br>
        </div>
        <div>
            (U) USPER Data<br>
            (U) Only NON-USPER and presumed NON_USPER data may be submitted through this portal.  Each search submission will require acknowledgement of the subject or subjects' NON-USPER status by clicking the NON_USPER data box.
            <br>
        </div>
      </div>

    </div>
    <p>&nbsp;</p>
    <div style="width: 100%" role="navigation" fxLayoutAlign="space-around center" >

        <div  fxFlexAlign="start" role="navigation"  >
          <button   mat-raised-button color="warn" matTooltip="Decline" (click)="clickDecline()">
            Decline
          </button>
        </div>
        <div fxFlexAlign="end" role="navigation"   style="text-align: right">
          <button   mat-raised-button color="primary" matTooltip="Accept" (click)="clickAccept()">
            Accept
          </button>
        </div>

    </div>
  </div>
</div>
