<div fxLayout="row" [style.margin-top]="'12px'" style="padding: 1% 16%;">
  <mat-card fxFlex="0 1 calc(20% - 20px)" style="text-align: center;">
    Preview
  </mat-card>
  <mat-card fxFlex="0 1 calc(20% - 20px)" style="text-align: center;">
    Filename
  </mat-card>
  <mat-card fxFlex="0 1 calc(20% - 20px)" style="text-align: center;">
    File Size (KB)
  </mat-card>
  <mat-card fxFlex="0 1 calc(20% - 30px)" style="text-align: center;">
    File Type
  </mat-card>
  <mat-card fxFlex="0 1 calc(20% - 20px)" style="text-align: center;">
    Modality
  </mat-card>
  <mat-card
    *ngIf="!userService.IsFSPUser"
    fxFlex="0 1 calc(20% - 30px)"
    style="text-align: center;"
  >
    USPER
  </mat-card>
  <mat-card
    *ngIf="!userService.IsFSPUser"
    fxFlex="0 1 calc(20% - 30px)"
    style="text-align: center;"
  >
    Classification
  </mat-card>
</div>
<ng-content></ng-content>
<br />
