<div fxLayout="column" fxFlexAlign="center center">
  <div fxLayout="row" fxFlex="100" class="reqdetails-title-bar ">
    <div fxFlex="95">Request Details</div>
    <button
      mat-stroked-button
      color="primary"
      (click)="closePopup()"
      style="color: white; font-size: small"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div fxLayout="row" fxFlex="100" style="border: 1px solid gray">
    <div fxLayout="column" fxFlex="50">
      <div class="pic-frame pic-frame--quick-zoom">
        <img class="resize-keep-aspect" src="{{ request.ImageUrl }}" />
      </div>
      <div
        class="status-flag  status-{{ request.Status | vettingStatusShorten }}"
      >
        {{ request.Status | vettingStatusPipe }}
      </div>
    </div>
    <div>
      <div class="modality-flag">
        {{ request.Modality }}
      </div>
    </div>
  </div>
</div>
