/* You can add global styles to this file, and also import other style files */
/* for sidenav to take a whole page */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 1% 12%;
}

.flex-container-row {
  display: flex;
  flex-wrap: nowrap;
  padding: 1% 15%;
}

.flex-container-row > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  font-size: 18px;
}

.active-link {
  color: white !important;
  background-color: navy;
}
