/* You can add global styles to this file, and also import other style files */
/* for sidenav to take a whole page */
html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 1% 12%;
}

.flex-container-row {
  display: flex;
  flex-wrap: nowrap;
  padding: 1% 15%;
}

.flex-container-row > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  // line-height: 0px;
  font-size: 18px;
}

.active-link {
  color: white !important;
  background-color: navy;
}

/* work around for mat-error */
// TODO Technical Dedt -- Clean the styles.scss
// Not a good practice of keeping styles in styles.scss, unless you want
// the same styles for the same control through out the application
mat-form-field {
  &.ng-valid {
    .mat-form-field-wrapper {
      padding-bottom: 1.25em;
      padding-inline-end: 2em;
    }
  }

  &.ng-invalid,
  &.mat-form-field-invalid {
    .mat-form-field-wrapper {
      padding-bottom: 7px;
    }
  }

  &.ng-untouched {
    .mat-form-field-wrapper {
      padding-bottom: 1.25em;
    }
  }

  .mat-form-field {
    &-underline {
      position: static;
    }

    &-subscript-wrapper {
      position: static;
    }
  }
}

/*
 * Unfortunately, there is no way to customize a mat-dialog-container
 * class without touching the global styles.scss file.
 * This SCSS rule uses the ability to customize the class name of a MatDialog's
 * panel element (which is a parent element to mat-dialog-container) in order to
 * select and override details for this specific type of element.
 */
.baas-request-details-dialog-container {
  .mat-dialog-container {
    padding: 0;
  }
}
