<div fxLayout="column" fxLayoutAlign="stretch" role="banner">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" role="banner">
      <div fxLayout="column" role="banner">
        <img src="./../assets/baas-logo.png" alt="BaaS Logo" style="width: 100%;   height: auto;" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="grey-box" role="form">
          <h2>Need Password?</h2>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" role="form">
          <mat-icon aria-label="Enter you email" matTooltip='Enter you email'>email</mat-icon>
          <mat-form-field>
            <input matInput placeholder="Email" [formControl]="email" required aria-label="Enter Email" />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" style="width:220px" (click)="submitID()" matTooltip='Login'>
          Submit
        </button>
        <br>
        <div *ngIf="errorMessage!=null; else blank" role="alert">
          <mat-chip-list>
            <mat-chip color="warn" selected="true" disabled>
              <mat-icon>error_outline</mat-icon>
              &nbsp;
              <strong>{{errorMessage}}</strong>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <ng-template #blank></ng-template>
    <app-footer></app-footer>
  </div>
