/* The following styles mirror the valus of the Login Form */
.password-reset-form {
  background-color: #eceff1;
  padding: 15px 60px 60px 60px;
  min-width: 520px;

  .password-reset-email-form-field {
    width: 40ch;
    max-width: 90vw;
  }
  .password-reset-submit-btn {
    width: 100%;
  }
}
