.matdiv {
  background-color: rgba(#fcd6bf, 0.47);
}

.matdiv:hover {
  background-color: #eaf2f8;
  border: 1ps solid #eaf2f8;
  color: rgba(orangered, 0.75);
  cursor: pointer;
}
.matdiv-selected {
  background-color: #eaf2f8;
  border: 1px solid #eaf2f8;
  color: rgba(orangered, 0.75);
}

.matdiv-card {
  background-color: rgba(white, 0.1);
}
.numberedCircle {
  padding: 1px 3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-right: 2%;
  display: inline;
  font-size: 9px;
  text-align: center;
  background-color: rgba(gray, 0.47);
  color: white;
}

.packageCount {
  padding: 3px 30px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  background-color: rgba(orange, 0.47);
  color: white;
  text-align: right;
}
