<form [formGroup]="fileUploadFormGroup">
  <div fxLayout="row" [style.margin-top]="'12px'" [style.margin-left]="'-150px'" style="width:1165px">

    <mat-card fxFlex="162px" style="text-align: center;">
      <div *ngIf="!IsFileValidSize() || !IsFileValidType()">
        <span style="background-color: lightblue; padding:10px"
          ><b>ERROR</b></span
        >
      </div>
      <img
        *ngIf="IsFileValidSize() && IsFileValidType()"
        src="{{ File.preview }}"
        width="100px"
        height="100px"
        alt="{{ File.name }}"
      />
    </mat-card>
    <mat-card fxFlex="117px" style="text-align: center; word-wrap: break-word;">
      {{ File.name }}
    </mat-card>
    <mat-card fxFlex="99px" style="text-align: center;">
      {{ File.size / 1000 }}
      <mat-error *ngIf="!IsFileValidSize()">{{ invalidFileSizeMsg }}</mat-error>
    </mat-card>
    <mat-card fxFlex="112px" style="text-align: center;">
      {{ File.type }}
      <mat-error *ngIf="!IsFileValidType()">{{ invalidFileTypeMsg }}</mat-error>
    </mat-card>
    <mat-card fxFlex="244px" style="text-align: center;">
      <mat-hint>Please choose a modality</mat-hint>
      <mat-form-field>
        <mat-select formControlName="modality">
          <mat-option
            *ngFor="let modality of lookupStaticDataService.modalityTypesData"
            [value]="modality.value"
            [matTooltip]="modality.tooltip"
          >
            {{ modality.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="fileUploadFormGroup.controls.modality.hasError('required')"
        >
          Required
        </mat-error>
      </mat-form-field>
    </mat-card>
    <mat-card
      *ngIf="!userService.IsFSPUser"
      fxFlex="131px"
      style="text-align: center;"
    >
      <mat-checkbox formControlName="isNotUSPerson">NO USPER</mat-checkbox>
    </mat-card>
    <mat-card
      *ngIf="!userService.IsFSPUser"
      fxFlex="240px"
      style="text-align: center;"
    >
      <mat-hint>Please choose a classification</mat-hint>
      <mat-form-field>
        <mat-select formControlName="imageClassification">
          <mat-option
            *ngFor="
              let classification of lookupStaticDataService.classificationTypesData
            "
            [value]="classification.value"
            [matTooltip]="classification.tooltip"
          >
            {{ classification.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <mat-card style="text-align: center;">
      <mat-icon class="action" (click)="remove()">delete</mat-icon>
    </mat-card>
  </div>
</form>
