<form [formGroup]="form">
  <div class="flex-container form>">
    <h2>Create User</h2>
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        type="email"
        autocomplete="email"
        required
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field *ngIf="!editFlag">
      <input
        matInput
        placeholder="Password"
        type="password"
        required
        class="form-control"
        formControlName="password"
      />
      <mat-error *ngIf="password.errors?.required"
        >You must enter a password</mat-error
      >
      <mat-error *ngIf="password.errors?.minlength"
        >Password does not have minimal length</mat-error
      >
      <mat-error
        *ngIf="
          password.errors?.validateSpecialChar ||
          password.errors?.validateHas2Case ||
          password.errors?.validateAlphaNumeric
        "
      >
        <p>
          Password must contain chars from at least 3 of the following 4
          character classes:
        </p>
        [upper-case, lower-case, digit, special char]
      </mat-error>
      <mat-error *ngIf="form.controls.password.errors?.validateNo3Duplicate">
        Password cannot contain more than 3 consecutive letters from the same
        character class.
      </mat-error>
      <mat-error *ngIf="form.controls.password.errors?.validateNoUserID">
        Password cannot contain user ID
      </mat-error>
      <mat-error *ngIf="form.controls.password.errors?.compare"
        >Mismatched password</mat-error
      >
    </mat-form-field>

    <div fxLayout>
      <mat-form-field fxFlex="40%">
        <input
          matInput
          placeholder="First Name"
          required
          class="form-control"
          formControlName="firstname"
        />
      </mat-form-field>
      <span fxFlex>&nbsp;</span>

      <mat-form-field fxFlex="40%">
        <input
          matInput
          placeholder="Last Name"
          required
          formControlName="lastname"
        />
      </mat-form-field>
    </div>

    <div fxLayout>
      <mat-accordion fxFlex="100%">
        <mat-expansion-panel
          class="mat-elevation-z1"
          style="margin-bottom: 15px;"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'90px'"
            [expandedHeight]="'90px'"
          >
            <mat-form-field>
              <input
                matInput
                placeholder="Group"
                required
                formControlName="group"
              />
            </mat-form-field>
          </mat-expansion-panel-header>
          <app-group-management
            (selectGroup)="setGroup($event)"
          ></app-group-management>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-form-field>
      <mat-select placeholder="Role" required formControlName="role">
        <mat-option
          *ngFor="let role of lookupStaticDataService.userRoleData"
          [value]="role.value"
        >
          {{ role.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Status" required formControlName="disabled">
        <mat-option
          *ngFor="let disabled of lookupStaticDataService.userStatusData"
          [value]="disabled.value"
        >
          {{ disabled.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout>
      <button
        fxFlex="200px"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
        (click)="submit()"
        matTooltip="Create User"
      >
        Submit
      </button>
    </div>
  </div>
</form>
