<div class="flex-container form>">
  <mat-form-field>
    <input matInput placeholder="User ID">
  </mat-form-field>
  <div fxLayout>
    <mat-form-field fxFlex="40%">
      <input matInput placeholder="First Name">
    </mat-form-field> <span fxFlex>&nbsp;</span>
    <mat-form-field fxFlex="40%">
      <input matInput placeholder="Last Name">
    </mat-form-field>
  </div>
  <mat-form-field>
    <input matInput placeholder="Group">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Role">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Status">
  </mat-form-field>

  <div fxLayout>

    <button fxFlex="200px" mat-raised-button color="primary" type="submit" matTooltip="Create User">
      Submit
    </button>
  </div>



</div>
